<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Изменить читателя</title>
</head>
<body>

<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="PATCH" th:object="${person}">

  <label for="name">Введите ФИО:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка ФИО</div>

  <label for="yearOfBirth">Введите год рождения:</label>
  <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Ошибка даты рождения</div>

  <br/>

  <input type="submit" value="Обновить!"/>

</form>

</body>
</html>